*{
    margin: 0;
    padding: 0;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}
.cards .card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 4px solid goldenrod;
    height: 500px;
    width: 400px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.cards .card img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
}
.cards .card button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}
.cards .card button:hover{
    background-color: goldenrod;
    transition: 0.4s;
}
.cards .card button a{
    text-decoration: none;
    color: white;
}
.cards .card h2{
    margin-top: 20px;
    color: blueviolet;
}
